/* -- Global -- */

*,
::before,
::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --main-text-black: #111111;
    --main-bg-blue: #0077db;
    --hero-yellow: #fffcb5;
    --display-font-family: 'Passion One', sans-serif;
    --display-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    /* Scale font size for any screen size. https://css-tricks.com/books/volume-i/scale-typography-screen-size/*/
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

body {
    margin: 0;
    color: white;
    font-family: sans-serif;
}

h1 {
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
}

button {
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    cursor: pointer;
}

/* -- Header -- */

header {
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    color: white;
    z-index: 3;
}

header h1 {
    margin: 0;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

header .brand,
header h1,
header nav {
    display: inline-block;
}


header .brand {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

header .brand__logo {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    width: calc(100px + (150 - 100) * ((100vw - 300px) / (1600 - 300)));
    display: inline-block;
    vertical-align: bottom;
    filter: drop-shadow(var(--display-shadow));
}

header nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
    margin-right: 0;
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
}

header nav li+li::before {
    /* content: ' / ' */
}

header nav a {
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:active {
    color: var(--hero-yellow);
}

header nav .current {
    color: var(--hero-yellow);
    text-transform: uppercase;
}

/* -- Hero -- */

.hero {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    /* Hero Patterns 'Zig Zag'*/
    background-color: #0056e0;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%230062ff' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.hero__content {
    max-width: 35rem;
    z-index: 2;
}

.hero h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.025rem;
    color: var(--hero-yellow);
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
    margin: 0;
    margin-bottom: 0.3rem;
}

.hero p {
    font-size: 1.4rem;
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
    line-height: 1.4rem;
    color: white;
    margin: 0;
    margin-bottom: 1.5rem;

}

.hero button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--display-font-family);
    /* text-shadow: var(--display-shadow); */
    /* box-shadow: var(--display-shadow), inset var(--display-shadow); */
    box-shadow: var(--display-shadow);
    background: white;
    border: 2px solid white;
    color: var(--main-text-black);
}

.hero .button--primary {
    background: var(--hero-yellow);
    color: var(--main-text-black);
    text-shadow: none;
    box-shadow: var(--display-shadow);
}

.hero__bg {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.hero__bg img {
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    width: calc(150px + (500 - 150) * ((100vw - 300px) / (1600 - 300)));
    max-width: 500px;
}

/* -- Mobile -- */

@media screen and (max-width: 650px) {
    .hero {
        padding-top: 7rem;
    }

    .hero__bg img {
        display: none;
    }
}