/* -- Global -- */

*,
::before,
::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --main-text-black: #111111;
    --primary-bg-color: rgb(0, 132, 209);
    --secondary-bg-color: rgb(0, 162, 255);
    --pitch-primary-bg-color: rgb(209, 0, 105);
    --pitch-secondary-bg-color: rgb(255, 0, 106);
    --hero-yellow: #FFFEE1;
    --display-font-family: 'Passion One', sans-serif;
    --display-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
    /* Scale font size for any screen size. https://css-tricks.com/books/volume-i/scale-typography-screen-size/*/
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

body {
    margin: 0;
    font-family: var(--display-font-family);
    background-color: var(--primary-bg-color);
    background-image: repeating-linear-gradient(-45deg,
        var(--primary-bg-color),
        var(--primary-bg-color) 100px,
        var(--secondary-bg-color) 100px,
        var(--secondary-bg-color) 200px);
}

button {
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    cursor: pointer;
}

main section {
   padding: 1rem 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes slideLeftRight {
    0% {
        transform: translate(-150%);
    }
    
    100% {
        transform: translate(0%);
    }
}

@keyframes slideTopBottom {
    0% {
        transform: translate(0%, -150%);
    }
    
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideRightLeft {
    0% {
        transform: translate(150%);
    }
    
    100% {
        transform: translate(0%);
    }
}

/* -- Header -- */

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.75rem 1rem;
    color: white;
    z-index: 3;
}

header h1 {
    margin: 0;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
}

header .brand,
header h1,
header nav {
    display: inline-block;
}


header .brand {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    animation: slideLeftRight 2s;
}

header .brand__logo {
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    width: calc(100px + (150 - 100) * ((100vw - 300px) / (1600 - 300)));
    display: inline-block;
    vertical-align: bottom;
    filter: drop-shadow(var(--display-shadow));
}

header nav {
    animation: slideTopBottom 2s ease;
}

header nav>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
    margin-right: 0;
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
}

header nav a {
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a:active {
    color: var(--hero-yellow);
}

header nav .current {
    color: var(--hero-yellow);
    text-transform: uppercase;
}

/* -- Hero -- */

.hero {
    color: white;
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 5rem;
    padding-bottom: 1rem;
    /* background-color: var(--primary-bg-color);
    background-image: repeating-linear-gradient(-45deg,
        var(--primary-bg-color),
        var(--primary-bg-color) 100px,
        var(--secondary-bg-color) 100px,
        var(--secondary-bg-color) 200px); */
}

.hero__content {
    max-width: 35rem;
    z-index: 2;
    animation: fadeIn 2s;
}

.hero h2 {
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.025rem;
    color: var(--hero-yellow);
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
    margin: 0;
    margin-bottom: 0.3rem;
}

.hero p {
    font-size: 1.4rem;
    font-family: var(--display-font-family);
    text-shadow: var(--display-shadow);
    line-height: 1.4rem;
    color: white;
    margin: 0;
    margin-bottom: 1.5rem;
}

.hero button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: var(--display-font-family);
    box-shadow: var(--display-shadow);
    background: white;
    border: 2px solid white;
    color: var(--main-text-black);
}

.hero .button--primary {
    background: var(--hero-yellow);
    color: var(--main-text-black);
    text-shadow: none;
    box-shadow: var(--display-shadow);
}

.hero__bg {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    animation: slideRightLeft 2s;
}

.hero__bg img {
    /* calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    width: calc(150px + (500 - 150) * ((100vw - 300px) / (1600 - 300)));
    max-width: 500px;
}

/* -- Hero Mobile -- */

@media screen and (max-width: 600px) {
    .hero {
        padding-top: 7rem;
    }

    .hero__bg img {
        display: none;
    }
}

/* -- Pitch -- */

.pitch {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.25);
    /* background-color: var(--pitch-primary-bg-color);
    background: repeating-linear-gradient(45deg,
        var(--pitch-primary-bg-color),
        var(--pitch-primary-bg-color) 100px,
        var(--pitch-secondary-bg-color) 100px,
        var(--pitch-secondary-bg-color) 200px); */
}

.pitch__content {
    padding: 0.5rem 1rem;
    color: white;
    text-shadow: var(--display-shadow);
    max-width: 35rem;
}


.pitch h2, .pitch h3 {
    color: var(--hero-yellow);
}

.pitch h3 {
    margin-bottom: 0.5rem;
}

.pitch p {
    margin-top: 0.5rem;
}