/* Source: https://github.com/mozdevs/cssremedy/blob/master/remedy.css */

/* Switch to border-box for box-sizing. */

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* Remove the tiny space around the edge of the page */
}

/* Switch to using rem units for typography. Fix line-height on headlines. */

h1 {
    /* Make all H1 large, remove nested-shrinking sizes. */
    font-size: 2rem;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1.00rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

h2, h3, h4, h5, h6 {
    line-height: 1;
}

/* Improve readability */

p, ul, ol, dl, address {
    line-height: 1.5;
}

pre {
    white-space: pre-wrap;
    /* Overflow by default is bad. */
}

hr {
    border: .5px solid;
}